{erl_opts, [debug_info]}.
{deps, [
  {eqwalizer_support,
    {git_subdir,
        "https://github.com/whatsapp/eqwalizer.git",
        {branch, "main"},
        "eqwalizer_support"}}
]}.
{project_plugins, []}.
{vsn, "0.1.0"}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, []}
    ]}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [cm_shell]}
]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"}]}.
